{% load static %}

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{% static 'bootstrap-4.5.0-dist/css/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h2> About Page </h2>
                <p> {{ message }} </p>
            </div>
        </div>

        <script src="{% static 'jquery-3.5.1.js' %}"></script>
        <script src="{% static 'bootstrap-4.5.0-dist/js/bootstrap.min.js' %}"></script>
    </body>
</html>